# Configuracion del servidor
PORT=3000

# Configuracion de Base de Datos MySQL
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=
DB_NAME=talentcloud_db

# Seguridad (JSON Web Token)
JWT_SECRET=escribe_tu_clave_secreta_aqui
